{% extends 'courses_base.html' %}
{% block meta %}
<!-- Primary Meta Tags -->
<meta name="title" content='Курс конструювання одягу "Створення лекал на ПК" online та в м.Чернігів. Fashion Академія VIKOR'>
<meta name="description" content="Новий рівень в конструюванні одягу в програмі Valentina. Створюй лекала юбок, суконь, брюк та градацію на ПК без вкладання коштів в обслуговування програми.">
<meta name="keywords" content="Курси, крою, конструювання, одягу, градація, Чернігів, Valentina">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="http://vikor.cn.ua/pc">
<meta property="og:title" content='Курс конструювання одягу "Створення лекал на ПК" online та в м.Чернігів. Fashion Академія VIKOR'>
<meta property="og:description" content="Новий рівень в конструюванні одягу в програмі Valentina. Створюй лекала юбок, суконь, брюк та градацію на ПК без вкладання коштів в обслуговування програми.">
<meta property="og:image" content="http://vikor.cn.ua/static/img/big_logo.png">

{% endblock %}

{% block title %}Курс "Створення лекал на ПК. Програма Valentina"{% endblock %}

{% block course_name %}Курс "Створення лекал на ПК"{% endblock %}
{% block course_info_duration %}1 місяць{% endblock %}
{% block course_info_lessons %}4 заняття{% endblock %}
{% block course_info_price %}1000 грн на місяць{% endblock %}

{% block who_info1 %}Випускників Повного базового курсу Крою та Шиття{% endblock %}
{% block who_info2 %}Вміє конструювати одяг на папері просто олівцем за улюбленою методикою конструювання{% endblock %}
{% block who_info3 %}Планує розвиток власного бренду та створювати одяг в декількох розмірах{% endblock %}
{% block who_info4 %}Хоче скоротити час на побудову базових креслень до 1 секунди{% endblock %}

{% block program %}
<details>
	<summary><b>1. Блок. Знайомство з програмою Valentina.</b></summary>
	<p><b>Чому саме цю програму ми обрали?</b></p>
	<ul>
	    <li>програма офіційно завантажується безкоштовно</li>
	    <li>для її використання не потрібні якісь специфічні характеристики ПК  (доступна навіть на Windows XP, ви обираєте установочний файл згідно вашої операційної системи)</li>
	    <li>платна лише інструкція до використання, але її ви отримаєте одразу с початком навчання безкоштовно</li>
	    <li>ця програма повністю задовольняє потреби в конструюванні в ательє, домашніх майстернях , для брендів одягу що починають свій розвиток</li>
	    <li>значно скорочує час на створення креслення базових конструкцій одягу кожен раз на нові індивідуальні розміри (до 1 секунди)</li>
	    <li>принцип полягає в тому , що ви один раз вносите формули для побудови креслення викрійки, а потім тільки змінюєте мірки і програма сама перебудовує креслення на нового клієнта</li>
	    <li>в програмі можливо використовувати мульти розмірні ознаки, т.б. створювати градацію лекал параметричним способом</li>
	    <li>доступний друк лекал як на плоттер так і на форматі А4</li>
	</ul>
</details>

<details>
  <summary><b>2. Блок. Інструменти та функції програми.</b></summary>
  <p><b>Початкове налаштування</b></p>
  <p><b>Знайомство з:</b></p>
  <ul>
    <li >інтерфейсом</li>
    <li >інструментами (крапка, лінії, дуги, криві, операції)</li>
  </ul>
</details>

<details>
  <summary><b>3. Блок. "Tape" - база даних замірів клієнтів.</b></summary>
  <p><b>Створимо повний файл.</b></p>
  <p><b>"Tape" - це окремий файл в якому зберігаються мірки ваших клієнтів:</b></p>
  <ul>
  	<li>заповнення</li>
  	<li>додавання нових або специфічних замірів</li>
  	<li>редагування</li>
  	<li>та збереження файлів</li>
  </ul>
  <p><b>Принцип формування мульти розмірних файлів:</b></p>
  <ul>
  	<li>необхідних мірок для конструювання одягу на індивідуального клієнта</li>
  	<li>мультирозмірний файл необхідних мірок для конструювання одягу для бренду та градації лекал</li>
  </ul>
</details>

<details>
  <summary><b>4. Блок. Конструювання.</b></summary>
  <p><b>Базова конструкція прямої юбки</b></p>
  <p><b>Базова конструкція сукні напівприлеглого силуету + рукав + комір</b></p>
  <p><b>Базова конструкція толстовки з рукавом реглан</b></p>
  <p><b>Базова конструкція жіночих брюк</b></p>
  <p><b>Принципи моделювання та додаткове конструювання малих елементів викройки в програмі:</b></p>
  <ul>
  	<li>перенос нагрудної виточки</li>
  	<li>створення кокетки</li>
  	<li>застібки</li>
  	<li>створення дзеркальних відображень</li>
  </ul>
</details>

<details>
  <summary><b>5. Блок. Деталі крою та експорт лекал.</b></summary>
  <ul>
  	<li>розкладуємо креслення на деталі крою (зовнішній, внутрішній контури)</li>
  	<li>додаємо припуски на шов</li>
  	<li>додаємо мітки, засічки, напрям поздовжньої нитки, розташування гудзиків.</li>
  	<li>створюємо необхідні написи на лекалах (назва , розмір, клієнт, тощо)</li>
  	<li>розкладка та експорт лекал для друку</li>
  </ul>
</details>
{% endblock %}

{% block summary_text %}
<p class="lead mb-0" style="font-weight: 400;">Після навчання ти будеш знати і вміти як створювати лекала одягу на ПК за індивідуальними мірками та типовими розмірними ознаками. А також отримаєшь <b>Сертифікат.</b></p>
{% endblock %}

{% block course_online %}"Курс Створення лекал на ПК Online"{% endblock %}
{% block course_offline %}"Курс Створення лекал на ПК Offline"{% endblock %}
{% block duration %}1 місяць{% endblock %}
{% block lessons %}4 заняття{% endblock %}
{% block price %}1000 грн на місяць{% endblock %}
{% block online_format %}<h5>Навчання буде проходити на платформі Google Клас.<br><br>+ Відео-уроки в запису з доступом назавжди<br><br>+ Онлайн трансляція</h5>{% endblock %}
{% block offline_format %}<h5>Заняття будуть тривати по 6 годин 1 раз на тиждень. Група вихідного дня.<br><br>Навчання буде проходити в м.Чернігові за адресою вул. Шевченко 42, каб. №211</h5>{% endblock %}