{% extends 'courses_base.html' %}
{% block meta %}
<!-- Primary Meta Tags -->
<meta name="title" content="Курси крою та шиття нижньої білизни online та в м.Чернігів. Fashion Академія VIKOR">
<meta name="description" content="Навчання з конструювання та пошиття нижньої білизни на індивідуальну фігуру та для власного бренду (градація лекал).">
<meta name="keywords" content="Курси, крою, шиття, конструювання, нижньої, білизни, градація, Чернігів, Valentina">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="http://vikor.cn.ua/underwear">
<meta property="og:title" content="Курси крою та шиття нижньої білизни online та в м.Чернігів. Fashion Академія VIKOR">
<meta property="og:description" content="Навчання з конструювання та пошиття нижньої білизни на індивідуальну фігуру та для власного бренду (градація лекал).">
<meta property="og:image" content="http://vikor.cn.ua/static/img/big_logo.png">

{% endblock %}

{% block title %}Курс "Нижня білизна"{% endblock %}

{% block course_name %}Курс "Нижня білизна"{% endblock %}
{% block course_info_duration %}3 місяці{% endblock %}
{% block course_info_lessons %}25 занять{% endblock %}
{% block course_info_price %}1000 грн на місяць{% endblock %}

{% block who_info1 %}Має мінімальні навички з експлуатації побутової швейної машинки{% endblock %}
{% block who_info2 %}Хоче навчитися створювати  нижню білизну  власноруч{% endblock %}
{% block who_info3 %}Хоче або планує шити білизну за індивідуальними розмірами  або стандартними розмірами через мережу інтернет або для власного бренду{% endblock %}
{% block who_info4 %}Та для всіх бажаючих, тому що  якщо "Є мета — не бачу перешкод"{% endblock %}

{% block program %}
<details>
	<summary><b>1. Блок. Бюстгальтер.</b></summary>
	<p><b>Знімаємо мірки.</b></p>
	<p><b>Каркаси, як підібрати.</b></p>
	<p><b>Конструювання:</b></p>
	<ul>
		<li>бюстгальтера за індивідуальними мірками</li>
		<li>бюстгальтера на 3 пелюстки за типовими розмірними ознаками</li>
	</ul>
	<p><b>Моделювання:</b></p>
	<ul>
		<li>класік</li>
		<li>балконет</li>
		<li>бралет</li>
	</ul>
	<p><b>Технологія пошиву бюстгальтера:</b></p>
	<ul>
		<li>обробка чашки з поролоном</li>
		<li>без поролона, туннельную тесьмою</li>
		<li>різні варіанти обробки поясу бюстгальтера</li>
	</ul>
</details>

<details>
  <summary><b>2. Блок. Трусики.</b></summary>
  <p><b>Знімаємо мірки.</b></p>
  <p><b>КРТ - коефіцієнт розтягнення тканини (як визначити та застосувати)</b></p>
  <p><b>Конструювання базових трусиків</b></p>
  <p><b>Моделювання трусиків:</b></p>
  <ul>
  	<li>сліпи</li>
  	<li>стрінги</li>
  	<li>бразиліани</li>
  </ul>
  <p><b>Технологія пошиву трусиків:</b></p>
  <ul>
  	<li>сліпи/стрінги використовуючи різні види резинок</li>
  	<li>трусиків бразилиан, закрита технологія (ідеальна для побутових машин)</li>
  </ul>
</details>

<details>
  <summary><b>3. Блок. Боді.</b></summary>
  <p><b>Конструювання та моделювання за індивідуальними мірками:</b></p>
  <ul>
  	<li>боді, суцільний купальник без чашки</li>
  	<li>боді, суцільний купальник з чашкою</li>
  </ul>
  <p><b>Особливості роботи з еластичними тканинами.</b></p>
</details>

<details>
  <summary><b>4. Блок. Конструювання в програмі Valentina.</b></summary>
  <p><b>Бюстгальтер на 3 пелюстки.</b></p>
  <p><b>Базова конструкція трусиків</b></p>
  <p><b>Пройдемо всі етапи конструювання в програмі:</b></p>
  <ul>
  	<li>внесення формул</li>
  	<li>припусків на шви</li>
  	<li>розмітки дольової нитки</li>
  	<li>гудзиків та інших необхідних написів на лекалах</li>
  </ul>
  <p><b>Формування розкладки лекал та генерація файлу для друку в різних форматах (плоттер , А4):</b></p>
  <p><b>Принципи моделювання в програмі та створення жіночої білизни по мультирозмірним даним (градація лекал параметричним способом)</b></p>
  <p><b>+ Градація лекал руками методом приросту.</b></p>
</details>

<details>
  <summary><b>(Бонус до курсу) 5. Блок. Конструювання та моделювання чоловічих трусів , "боксерів".</b></summary>
</details>
{% endblock %}

{% block summary_text %}
<p class="lead mb-0" style="font-weight: 400;">Після навчання ти будеш знати і вміти як створити різноманітну нижню білизну якісно на своїй побутової машинці. Створювати лекала бюстгальтера, трусиків, боді на ПК за індивідуальними мірками та типовими розмірними ознаками. А також отримаєшь <b>Сертифікат.</b></p>
{% endblock %}

{% block course_online %}"Курс Нижня білизна Online"{% endblock %}
{% block course_offline %}"Курс Нижня білизна Offline"{% endblock %}
{% block duration %}3 місяці{% endblock %}
{% block lessons %}25 занять{% endblock %}
{% block price %}1000 грн на місяць{% endblock %}
{% block online_format %}<h5>Навчання буде проходити на платформі Google Клас.<br><br>+ Відео-уроки в запису з доступом назавжди<br><br>+ Онлайн примірки в закритій групі в Telegram</h5>{% endblock %}
{% block offline_format %}<h5>Заняття будуть тривати по 2 години 2 рази на тиждень.<br><br>Навчання буде проходити в м.Чернігові за адресою вул. Шевченко 42, каб. №211</h5>{% endblock %}
